/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    text-align: center;
    background: #4f52ff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 5px;
}
.rcontainer {
    text-align: center;
    background: #f75151;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 5px;
}

#display {
    font-size: 2em;
    margin-bottom: 20px;
}

#display2 {
    font-size: 2em;
    margin-bottom: 20px;
}
#rdisplay {
    font-size: 2em;
    margin-bottom: 20px;
}

#rdisplay2 {
    font-size: 2em;
    margin-bottom: 20px;
}
.buttons button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.buttons button:hover {
    background: #ddd;
}



#coins {
    margin-left: 10px;
    font-size: 0.8em;
    color: #ffffff;
}
#time {
    margin-left: 10px;
    font-size: 0.8em;
    color: #ffffff;
}

#rcoins {
    margin-left: 10px;
    font-size: 0.8em;
    color: #ffffff;
}
#rtime {
    margin-left: 10px;
    font-size: 0.8em;
    color: #ffffff;
}


h1{
    color: #ffffff;
}

i {
    margin: 5px;
}

.fa-coins {
    color: gold;
}


.fa-clock {

    color: antiquewhite;
}


#numberT, #rnumberT{
    color: antiquewhite;
}

#number, #rnumber {
    color: gold;
}

#coins, #rcoins {
    color: gold;
}